<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
        <style>
        .row {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Divide igualmente em duas colunas */
        }

        /* Estilo para cada coluna */
        .col {
            padding: 20px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col">
        <h1>Lista de Livros</h1>
        <ul>
            {% for livro in livros %}
            <li>{{ livro.titulo }} - {{ livro.autor.nome }} </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col">
        <h1>Lista de Autores</h1>
        <ul>
            {% for autor in autores %}
            <li>{{ autor.nome }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
    

</body>
</html>